body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


.box::after{
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    border-radius: 100% 0% 0% 100% / 100% 50% 50% 0%;
    background: #fdec00;
    bottom: 0;
    right: 0;
    transition: 1s;
}

.box::before{
content: '';
width: 50%;
height: 50%;
position:absolute;
border-radius: 48% 52% 100% 0% / 0% 0% 100% 100%;
transition: 1s;
background: #fdec00;
top: 0;
left: 0;
}



img{
    width: 300px;
    bottom: 20px;
    position: absolute;
    z-index: -1;
    transition: .5s;
}


.box:hover img{
    transform: rotate(20deg);
    width: 600px;
    transition: 1s;
    bottom: -100px;

}


